<div class="dialog-screen_overlay" *ngIf="isVisible" (click)="close()"></div>
@if (isVisible) {
  <div
    class="dialog-screen_wrapper"
    [@dialog-screen-animation]="isMobile ? 'mobile' : 'desktop'"
  >
    <div
      #container
      class="dialog-screen_inner"
      aria-modal="true"
      aria-labelledby="dialog-screen-title"
      [attr.aria-describedby]="ariaDescribedBy()"
      [attr.role]="'dialog'"
      (click)="$event.stopPropagation()"
    >
      <div
        class="dialog-screen_header"
        (touchstart)="onTouchStart($event)"
        (touchmove)="onTouchMove($event)"
        (touchend)="onTouchEnd($event)"
      >
        <span #dragHandle class="dialog-screen_drag-handle" aria-hidden="true"></span>

        <span class="dialog-screen_title-wrapper">
          <h1
            id="dialog-screen-title"
            class="dialog-screen_title"
            [class.visually-hidden]="hideTitle()"
          >
            {{ title() }}
          </h1>
        </span>

        @if (!hideCloseButton()) {
          <button
            class="dialog-screen_close-btn"
            [attr.aria-label]="closeButtonAriaLabel()"
            (click)="close()"
          >
            <ion-icon name="close-outline"></ion-icon>
          </button>
        }
      </div>

      <div class="dialog-screen_body">
        <ng-container #content></ng-container>
      </div>
    </div>
  </div>
}
