// Percy breakpoints
$percy-breakpoint-extra-small: 480px !default;
$percy-breakpoint-small:       640px !default;
$percy-breakpoint-medium:      768px !default;
$percy-breakpoint-large:       992px !default;
$percy-breakpoint-extra-large: 1248px !default;
