@import 'styles/global';

.date-picker-input {
  &_calendar {
    position: relative;
  }

  &_overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
  }

  &_calendar-inner {
    position: absolute;
    right: 0;
    z-index: 10;
    background-color: var(--percy-bg-1);
  }
}

::ng-deep .percy-input_field {
  &[readonly] {
    opacity: initial !important;
  }
}
