<div class="container">
  <!-- @if (form) {
    <form [formGroup]="form">

      <input type="text" [formControl]="inputControl" />
      <app-date-picker [formControl]="dateControl" />

      <button type="button" (click)="submitForm()">Submit</button>
    </form>
  } -->

  <app-date-picker-input format="DDD" />

  <!-- @if (form) {
    <form [formGroup]="form">

      <input type="text" [formControl]="inputControl" />
      <app-date-picker [formControl]="dateControl" />

      <button type="button" (click)="submitForm()">Submit</button>
    </form>
  } -->
</div>

<router-outlet />
