$border-color: var(--percy-accent-tint) !default;
$border-radius: 6px !default;
$border-box-shadow: 0 0 2px var(--percy-accent-shade) !default;
$border-width: 1px !default;
$border-style: solid !default;

/**
 * Border style mixin. Define the border style of an element.
 * @param $color - Color of border style
 * @param $radius - Radius of border style
 * @param $box-shadow - Box shadow of border style
 * @param $width - Width of border style
 * @param $style - Style of border style
 */
@mixin border-style(
  $color: $border-color,
  $radius: $border-radius,
  $box-shadow: $border-box-shadow,
  $width: $border-width,
  $style: $border-style
) {
  border: $width $style $color;
  border-radius: $radius;
  box-shadow: $box-shadow;
}
