/**
 * Clear default styles for a component
 */
@mixin clear-default-style() {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
}

/**
 * Clear default button styles
 */
@mixin clear-button-style() {
  @include clear-default-style;
  cursor: pointer;
  color: inherit;
}
