<div class="date-picker_inner">
  <div class="date-picker_input-wrapper">
    <input
      id="date-picker-input"
      readonly
      type="text"
      class="date-picker_input"
      placeholder="Date"
      aria-label="Select a date"
      [attr.aria-expanded]="isCalendarOpen"
      [class.date-picker_input-active]="isCalendarOpen"
      [value]="datePicker.visualDate"
      (click)="toggleCalendar()"
    />
    <button
      class="date-picker_toggle-btn"
      aria-label="Toggle calendar"
      [class.date-picker_toggle-btn-active]="isCalendarOpen"
      (click)="toggleCalendar()"
    >
      <ion-icon name="calendar-outline"></ion-icon>
    </button>
  </div>

  @if (isCalendarOpen && !areMonthsOpen) {
    <div
      class="date-picker_overlay"
      aria-hidden="true"
      (click)="closeFromBackground()"
    ></div>
    <div class="date-picker_calendar" aria-labelledby="month-year-heading-id" [@slideInOut]>
      <div class="date-picker_header">
        <button
          type="button"
          class="date-picker_header-button"
          aria-label="Previous month"
          (click)="previousMonth()">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </button>

        <div class="date-picker_header-label">
          <span id="month-year-heading-id" class="date-picker_header-label-month" aria-live="polite">
            {{ months[currentMonth] | titlecase }} {{ currentYear }}
          </span>
          <button
            type="button"
            class="date-picker_month-button"
            aria-label="Show months"
            (click)="toggleMonths()">
            <ion-icon name="chevron-down-outline"></ion-icon>
          </button>
        </div>

        <button
          type="button"
          class="date-picker_header-button"
          aria-label="Next month"
          (click)="nextMonth()">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </button>
      </div>

      <div class="date-picker_weekdays">
        @for (weekday of weekdays; track $index) {
          <span class="date-picker_weekday" [attr.aria-label]="weekday">
            {{ weekday | titlecase | slice: 0 : 3 }}
          </span>
        }
      </div>

      <div class="date-picker_days" aria-labelledby="month-year-heading-id">
        @for (day of calendarDays; track $index) {
          <div class="date-picker_day-wrapper">
            <button
              type="button"
              class="date-picker_day"
              [attr.aria-hidden]="day.isFromAnotherMonth"
              [attr.aria-selected]="isDaySelected(day)"
              [disabled]="day.isFromAnotherMonth"
              [class.date-picker_day-selected]="isDaySelected(day)"
              [class.date-picker_today]="day.date.toLocaleDateString() === today.toLocaleDateString()"
              (click)="selectDate(day.date)"
            >
              @if (!day.isFromAnotherMonth) {
                <span class="date-picker_day-label">{{ day.date | date:'d' }}</span>
              }
            </button>
          </div>
        }
      </div>
    </div>
  }

  @if (areMonthsOpen) {
    <div class="date-picker_calendar date-picker_calendar-months" aria-labelledby="month-year-heading-id" [@slideInOut]>
      <div class="date-picker_header">
        <button
          type="button"
          class="date-picker_header-button"
          aria-label="Previous year"
          (click)="previousYear()">
          <ion-icon name="chevron-back-outline"></ion-icon>
        </button>

        <div class="date-picker_header-label">
          <span id="month-year-heading-id" class="date-picker_header-label-month" aria-live="polite">{{ currentYear }}</span>
          <button
            type="button"
            class="date-picker_month-button"
            aria-label="Hide months"
            (click)="toggleMonths()">
            <ion-icon name="chevron-up-outline"></ion-icon>
          </button>
        </div>

        <button
          type="button"
          class="date-picker_header-button"
          aria-label="Next year"
          (click)="nextYear()">
          <ion-icon name="chevron-forward-outline"></ion-icon>
        </button>
      </div>

      <div class="date-picker_months" aria-labelledby="month-year-heading-id">
        @for (month of months; track $index) {
          <div class="date-picker_month-wrapper">
            <button
              type="button"
              class="date-picker_month"
              [attr.aria-selected]="isMonthSelected($index)"
              [class.date-picker_month-selected]="isMonthSelected($index)"
              (click)="selectMonth($index)"
            >
              <span class="date-picker_month-label">{{ month | slice: 0 : 3 }}</span>
            </button>
          </div>
        }
      </div>
    </div>
  }
</div>
